<div class="container">
  
  <%= form_with(model: @blog, local: true, url: choose_new_or_edit) do |form| %>
  
      <% if @blog.errors.any? %>
        <div id="error_explanation">
          <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
          <ul>
    
          <% @blog.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form_group row">
        <p class="col-xs-12 col-md-offset-2 col-md-3"><%= form.label :title %></p>
        <p class="col-xs-12 col-md-5"><%= form.text_field :title %></p>
      </div>
      
      <div class="form_group row">
        <p class="col-xs-12 col-md-offset-2 col-md-3"><%= form.label "　内容　" %></p>
        <p class="col-xs-12 col-md-5"><%= form.text_field :content %></p>
      </div>
      
      <div class="field">
        <p class="col-xs-12 col-md-offset-2 col-md-3"><%= form.label :image %></p>
        <p class="col-xs-12 col-md-5"><%= form.file_field :image, id: :feed_image %></p>
        <%= form.hidden_field :image_cache %>
      </div>
      
      <br>
      
      <%= form.submit class: "btn btn-primary" %>
    
     
      
    <% end %>
    
    <br>
    <%= link_to "ブログ一覧画面にもどる", blogs_path %>
     

  
</div>
