
<%= form_with(model: @blog, url: blog_path, local: true, method: 'patch') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @blog.title %></p>
  <p>本文:<%= @blog.content %></p>
  
  
  <%= form.submit  "更新する",class:"btn btn-primary" %>
  
<% end %>

<%= form_with(model: @blog, url: edit_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる", name: 'back'%>
<% end %>