<h1>Sign up</h1>


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="container">
  <%= form_with(model: @user, local: true) do |f| %> 
    <div class="row">
       <p class="col-xs-12 col-md-offset-2 col-md-3"><%= f.label :name %></p>
       <p class="col-xs-12 col-md-5"><%= f.text_field :name %></P>
    </div>
   
    <div class="row">
       <p class="col-xs-12 col-md-offset-2 col-md-3"><%= f.label :email %></p>
       <p class="col-xs-12 col-md-5"><%= f.email_field :email %></p>
    </div>
    
    <div class="row">
       <p class="col-xs-12 col-md-offset-2 col-md-3"><%= f.label :password %></p>
       <p class="col-xs-12 col-md-5"><%= f.password_field :password %></p>
    </div>
    
    <div class="row">
       <p class="col-xs-12 col-md-offset-2 col-md-3"><%= f.label :password_confirmation %></p>
       <p class="col-xs-12 col-md-5"><%= f.password_field :password_confirmation %></p>
    </div>
    
    <div class="row">
       <p class="col-xs-12 col-md-offset-2 col-md-3"><%= f.label :image %></p>
       <p class="col-xs-12 col-md-5"><%= f.file_field :image %></p>
       <%= f.hidden_field :image_cache %>
    </div>
    
    <%= f.submit "Create my account" %>
    
  <% end %>
</div>


