<p>ユーザー: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
<div class="box">
  <p><%= image_tag @user.image, class: "icon" %></p>
</div>

<br>

<% @favorite_blogs.each do |blog| %>
　<p>お気に入りブログ一覧</p>
  <p>
    <tr>
      <td><%= blog.title %></td>
      <td><%= link_to '詳細', blog_path(blog.id) %></td>
    </tr>
  </p>
<% end %>

<br>

<%= link_to "ブログ一覧画面へ", blogs_path %>