<div class="row">

<h1>お問い合わせ</h1>

<%= form_with(model:@contact, local:true) do |form| %>

  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h1><%= @contact.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
          <div class="name row">
            <p class="col-xs-12 col-md-offset-2 col-md-3"><%= form.label :name %></p>
            <p class="col-xs-12 col-md-5"><%= form.text_field :name %></p>
          </div>
          <div class="email row">
            <p class="col-xs-12 col-md-offset-2 col-md-3"><%= form.label :email %></p>
            <p class="col-xs-12 col-md-5"><%= form.text_field :email %></p>
          </div>
           <div class="content row">
            <p class="col-xs-12 col-md-offset-2 col-md-3"><%= form.label :content %></p>
            <p class="col-xs-12 col-md-5"><%= form.text_field :content %></p>
          </div>
  </div>
   <br>
  <%= form.submit %>
<% end %>

<%= notice %>

